<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">{{ section.title }}</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">{{ section.text }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for action in section.actions %}
      {% assign fa = action.icon_type | default: "fas" %}
      <div class="col ml-auto text-center">
        <i class="{{ fa }} {{ action.icon }} fa-3x mb-3 text-muted"></i>
        <a class="d-block" href="{{ action.url }}">{{ action.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<form action="https://formspree.io/f/meqpagew" method="POST">
    <h1>Contact Form!</h1>
    <label for="name">Your Name</label>
    <input name="name" id="name" type="name"><br>
    <br>
    <label for="email">Your Email</label>
    <input name="Email" id="email" type="email"><br>
    <br>
    <label for="What would you like to speak about?">What would you like to speak about?</label>
    <input name="What would you like to speak about?" id="What would you like to speak about?" type="What would you like to speak about?"><br>
    <br>
    <label for="How did you hear about this website?">How did you hear about this website??</label><br>
    <input type="radio" name="continent" value="Through a friend">Through a friend<br>
    <input type="radio" name="continent" value="Through the Artist">Through the Artist<br>
    <input type="radio" name="continent" value="I found it online">I found it online<br>
    <br>  
    <label for="If you would like to get in touch with the artist to talk about a commission, please enter some information about the project into the provided area.">If you would like to get in touch with the artist to talk about a commission, please enter some information about the project into the provided area.</label><br>
    <textarea rows="3" cols="80" name="story">Details about the commission!</textarea><br>
    <br>
    <label for="submit">Tell us what you think!</label>
    <button type="submit">Submit</button>
</form>

