<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">{{ section.title }}</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">{{ section.text }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for action in section.actions %}
      {% assign fa = action.icon_type | default: "fas" %}
      <div class="col ml-auto text-center">
        <i class="{{ fa }} {{ action.icon }} fa-3x mb-3 text-muted"></i>
        <a class="d-block" href="{{ action.url }}">{{ action.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<form action="https://formspree.io/f/meqpagew" method="POST">
    <h1>Contact Form!</h1>
    <label for="name">Your Name</label>
    <input name="name" id="name" type="name"><br>
    <br>
    <label for="email">Your Email</label>
    <input name="Email" id="email" type="email"><br>
    <br>
    <label for="What is your preferred city?">What is your preferred city?</label>
    <input name="What is your preferred city?" id="What is your preferred city?" type="What is your preferred city?"><br>
    <br>
    <label for="What is your favorite continent?">What is your favorite continent?</label><br>
    <input type="radio" name="continent" value="North America">North America<br>
    <input type="radio" name="continent" value="South America">South America<br>
    <input type="radio" name="continent" value="Europe">Europe<br>
    <input type="radio" name="continent" value="Africa">Africa<br>
    <input type="radio" name="continent" value="Antarctica">Antarctica<br>
    <input type="radio" name="continent" value="Aisa">Aisa<br>
    <input type="radio" name="continent" value="Australia">Australia<br>
    <br>  
    <label for="What country would you like to visit?">What country would you like to visit?</label><br>
    <input type="checkbox" name="continent" value="Canada">Canada<br>
    <input type="checkbox" name="continent" value="France">France<br>
    <input type="checkbox" name="continent" value="India">India<br>
    <input type="checkbox" name="continent" value="Cambodia">Cambodia<br>
    <input type="checkbox" name="continent" value="Germany">Germany<br>
    <br>
    <label for="What is your favorite travel story?">What is your favorite travel story?</label><br>
    <textarea rows="3" cols="80" name="story">Share your travel story</textarea><br>
    <br>
    <label for="submit">Share your views!</label>
    <button type="submit">Submit</button>
</form>

